
<!-- <h1>Where in the World?</h1>
<h4>Making Relocation a Reality</h4>
<br>
<p>Awesome stuff coming soon...</p>

<%= link_to "test", root_path, class: 'btn btn-lg btn-warning' %> -->

<!-- <h1>StaticPages#test</h1>
<p>Find me in app/views/static_pages/test.html.erb</p> -->

<!DOCTYPE html>
<html lang="en">


<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">


    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container_fluid">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading">Where in the World?</h1>
                        <p class="intro-text">Making relocation a reality...where would you like to go?
                        </p>
                        <!-- <div class = "container_fluid" -->
                          <div class = "prompt" style= "display: block">
                              <input type = "text", placeholder="?"><br>
                          </div>
                          <br>
                          <br>
                           <a href="#about" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h5><em>"A mind that has been stretched by a new experience can never go back to its old dimensions"<br><br></em>~Oliver Wendall Homes~</h5><br>
                <h2>About Where in the World</h2>
                <br>
                <p>For many, living and working abroad for short and extended periods of time becomes the adventure of a lifetime. Many trek off to unknown lands to fill a gap of time in their lives, improve their fluency in a foreign language, meet new and interesting people, and/or build self-reliance. Whatever your case, by traveling to a new land, you'll have the chance to immerse yourself in the culture and meet people on their own terms, rather than experiencing a culture as a tourist.</p>
                <br>
                <p>Do be prepared, though: landing a job overseas often takes months of preparation. But the hard work you put into preparing for your journey will give you the confidence to find and land a job on any soil.</p>

                <!-- <p>Grayscale is a free Bootstrap 3 theme created by Start Bootstrap. It can be yours right now, simply download the template on <a href="http://startbootstrap.com/template-overviews/grayscale/">the preview page</a>. The theme is open source, and you can use it for any purpose, personal or commercial.</p>
                <p>This theme features stock photos by <a href="http://gratisography.com/">Gratisography</a> along with a custom Google Maps skin courtesy of <a href="http://snazzymaps.com/">Snazzy Maps</a>.</p>
                <p>Grayscale includes full HTML, CSS, and custom JavaScript files along with LESS files for easy customization.</p> -->
            </div>
        </div>
    </section>


</body>

</html>
