// Place all the styles related to the location controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {
    color: #ffc712;
    font-size: 56px;
    text-align: center;
}

p {
  font-size: 14px;
}

hr {
  color: #fff;
}

.temp {
  background: gold;
  color: #fff;
}

// html {
//   background: url(http://www.deepakg.com/blog/images/2012/october/lisbon/a-street-in-lisbon-3.jpg) no-repeat center center fixed;
//   -webkit-background-size: cover;
//   -moz-background-size: cover;
//   -o-background-size: cover;
//   background-size: cover;
// }
