// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// background: url(../images/barcelona_street.jpg) no-repeat bottom center scroll;

body {
  color: #fff;
}

// Class
.row {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
