<div class="col-md-12">
  <div class="table-responsive">
    <h1 style="color:#fff;"> Recent Corkboards </h1>
    <table class="table table-hover">
      <!-- This is a table row with headers -->
      <tr>
        <th> </th>
        <th> </th>
        <th> </th>
      </tr>

      <div class="well">
        <% @corkboards.each do |corkboard| %>
          <p><strong><span><%= corkboard.title %></span></strong>
          <br>
          <%= corkboard.comment %></p>
          <hr>
          <% end %>
      </div>


    </table>
  </div>

<!-- <div class="well">
  <%= link_to "Add New Corkboard", new_location_corkboard_path, class: 'btn btn-lg btn-default'%>
</div> -->

</div>
