
    <div class="row">
      <div class="col-xs-6 col-md-4">
        <div class="thumbnail">
          <img src="http://images.moneysavingexpert.com/images/cheap_holiday_rentals_3.png" alt="worldly business people">
          <div class="caption">
            <h4>Work Visas</h4>
            <p>Here you can find inforamtion on work visas, length of stay and residency requirements</p>
            <p><center><a href='<%= @location.visa_info %>' target="_blank" class="btn btn-default" role="button">Work Visas</a></center></p>
          </div>
        </div>
      </div>

        <div class="col-xs-6 col-md-4">
          <div class="thumbnail">
          <img src="http://www.businessofbiodiversity.co.uk/img1.jpg"

           alt="worldly business people">
          <div class="caption">
            <h4>Jobs</h4>
            <p>Here you can find information on local job boards and employment opportunities</p>
            <p><center><a href='<%= @location.job_info %>' target="_blank" class="btn btn-default" role="button">Employment</a></center></p>
          </div>
        </div>
      </div>

      <div class="col-xs-6 col-md-4">
        <div class="thumbnail">
          <img src="http://static1.businessinsider.com/image/557f3f596da8112d21322ae0-480/nyc-apartments.jpg" alt="worldly business people">
          <div class="caption">
            <h4>Rentals</h4>
            <p>Here you can find local rental information including short and long term housing</p>
            <p><center><a href='<%= @location.rental_info %>' target="_blank" class="btn btn-default" role="button">Rentals</a></center></p>
          </div>
        </div>
      </div>

  </div>
