<html>
<body background="http://cdn.desktopwallpapers4.me/wallpapers/world/1680x1050/2/16725-cobblestone-street-in-paris-1680x1050-world-wallpaper.jpg">
<br>
<br>
<br>
<br>

<div class="col-md-8 col-md-offset-2">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h1> Where in the World - New Location </h1>
        <%= render 'form' %>
    </div>
  </div>
</div>

</body>
</html>
